<link rel="stylesheet" href="/css/icon.css" />
<link rel="stylesheet" href="/css/footer.css" />
<div class="row g-0 pt-5 footer text-light">
  <div class="col-2 w-30 mb-4">
    <div class="caredata">
      <h5 class="mb-4">CareData</h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit libero
        eligendi iure quaerat placeat officia?
      </p>
    </div>
    <div class="social">
      <ion-icon name="logo-linkedin" class="icon"></ion-icon>
      <ion-icon name="logo-facebook" class="icon"></ion-icon>
      <ion-icon name="logo-instagram" class="icon"></ion-icon>
    </div>
  </div>
  <div class="col-2 w-30">
    <div class="latest-news">
      <h5 class="mb-4">Latest News</h5>
      <div class="news mb-3">
        <img src="/image/img1.jpg" class="blog-img me-3" alt="image" />
        <span>Lorem ipsum dolor sit amet, consectetur </span>
      </div>
      <div class="news mb-3">
        <img
          src="https://img.freepik.com/free-photo/overhead-view-laptop-stethoscope-medical-uniform-green-backdrop_23-2148129641.jpg?w=900&t=st=1691861552~exp=1691862152~hmac=a0591d49efb3bc6c80c832917ada3b28a5b509d645636bb20f88897485690dce"
          alt="image"
          class="blog-img me-3"
          style="width: 100px"
        />
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </div>
  </div>
  <div class="col-2 w-30 mb-5">
    <h5 class="mb-4">Quick Links</h5>
    <p>Home</p>
    <p>About</p>
    <p>Services</p>
    <p>Work</p>
    <p>Blog</p>
    <p>Contact</p>
  </div>
  <div class="col-2 w-25 mb-4">
    <h5 class="mb-4">Have a Question</h5>
    <div class="contact-container">
      <div class="contact mb-2">
        <div>
          <ion-icon name="location-outline" class="icon"></ion-icon>
        </div>
        <p>A-11, Kalyani, West Bengal, India</p>
      </div>
      <div class="contact mb-2">
        <div>
          <ion-icon name="call-outline" class="icon"></ion-icon>
        </div>
        <p>+91 3648928368</p>
      </div>
      <div class="contact mb-5">
        <div>
          <ion-icon name="mail-outline" class="icon"></ion-icon>
        </div>
        <p>feedback.caredata1236@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-center mb-3">
    <p>Copyright &copy;2023 All Rights Reserved</p>
  </div>
</div>
