<nav class="navbar navbar-expand-lg bg-transparent fixed-top d-flex">
  <div class="container-fluid">
    <a
      class="navbar-brand text-light icon-container"
      href="/caredata/users/<%= uploadFile.author._id %>/upload %>"
      ><ion-icon name="arrow-back-outline" class="icon"></ion-icon
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item icon-container">
          <a class="nav-link text-light" href="/"
            ><ion-icon name="share-social-outline" class="icon"></ion-icon
          ></a>
        </li>
        <li class="nav-item icon-container text-light" style="cursor: pointer">
          <ion-icon name="expand-outline" class="icon expand"></ion-icon>
        </li>
        <li class="nav-item icon-container text-light" style="cursor: pointer">
          <ion-icon name="contract-outline" class="icon shrink"></ion-icon>
        </li>
        <li class="nav-item icon-container">
          <a class="nav-link text-light" href="#"
            ><ion-icon
              name="information-circle-outline"
              class="icon"
              style="font-size: 30px; margin-top: 6px"
            ></ion-icon
          ></a>
        </li>
        <li class="nav-item icon-container" style="cursor: pointer">
          <ion-icon
            name="star-outline"
            class="icon text-light favorite"
          ></ion-icon>
        </li>
        <li class="nav-item icon-container">
          <a class="nav-link text-light" href="#"
            ><ion-icon name="trash-outline" class="icon"></ion-icon
          ></a>
        </li>
        <li class="nav-item icon-container">
          <a class="nav-link text-light" href="#"
            ><ion-icon name="ellipsis-vertical-outline" class="icon"></ion-icon
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
