<%- layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/css/icon.css">
    <link rel="stylesheet" href="/css/doctor.css">

    <section class="doctor-profile">
        <section class="container grid grid-two-col">
            <section class="profile">
                <div class="container grid grid-three-col">
                    <div class="profile-main">
                        <img class="doctor-img" src="/image/doctor-img.png" alt="Doctor-Image">
                        <h2 class="doctor-name">Dr. Devayan Mandal</h2>
                        <h2 class="doctor-speciality">Urologist</h2>
                    </div>
                    <div>
                        <ul class="profile-icons">
                            <i class="fa-solid fa-graduation-cap" style="color: #0d0a94;"></i>
                            <i class="fas fa-map-marker-alt" style="color: #0d0a94;"></i>
                            <i class="fa-solid fa-user-check" style="color: #0d0a94;"></i>
                            <i class="fas fa-language" style="color: #0d0a94;"></i>
                        </ul>
                    </div>
                    <div class="doctor-details">
                        <ul class="qualification">
                            <li>MBBS, MD, FRCS (Urol), FEBU, FACS, FAAP, FRCSI, Hon. FDSRCS</li>
                        </ul>
                        <hr class="social-line">
                        <ul class="doctor-location">
                            <li>Oyoland Clinic, Chakdaha</li>
                        </ul>
                        <hr class="social-line">
                        <ul class="verified">
                            <li> WBDC - 0000A</li>
                        </ul>
                        <hr class="social-line">
                        <ul class="languages">
                            <li>English, Hindi, Bengali</li>
                        </ul>
                        <hr class="social-line">
                    </div>

                </div>
                <div>
                    <p class="doctor-about">Hello, I am Dr. Deavayan Mandal Lorem ipsum dolor sit, amet consectetur
                        adipisicing
                        elit. Deserunt ipsum ea quia exercitationem minima neque tempora molestias, magni fugit nulla
                        maxime
                        veniam dignissimos modi, facere nisi veritatis corrupti mollitia commodi!</p>
                </div>
            </section>
            <section class="appointment">
                <div class="online">
                    <h2>Online</h2>
                    <ul class="bullet">
                        <li>MONDAY 1:00 PM - 06:00 PM</li>
                        <li>TUESDAY 10:00 AM - 06:00 PM</li>
                        <li>SATURDAY 10:00 AM - 06:00 PM</li>
                        <li>SUNDAY NO SLOTS AVAILABLE</li>
                    </ul>
                </div>
                <div class="clinic">
                    <h2>Clinic</h2>
                    <ul class="bullet">
                        <li>MONDAY 10:00 AM - 12:00 PM</li>
                        <li>TUESDAY NO SLOTS AVAILABLE</li>
                        <li>WEDNESDAY 10:00 AM - 12:00 PM</li>
                        <li>THURSDAY NO SLOTS AVAILABLE</li>
                    </ul>
                </div>
                <div class="button">
                    <button class="book-btn" type="submit">Book Appointment</button>
                    <button class="video-btn" type="submit">Video Consult</button>
                </div>
                <div class="social-icons">
                    <hr class="social-line">
                    <h2>Find Dr. Devayan on</h2>
                    <hr class="social-line">
                    <a href="https://www.facebook.com/your-profile" target="">
                        <i class="fa-brands fa-facebook" style="color: #1877f2;"></i>
                    </a>
                    <a href="https://www.twitter.com/your-profile" target="">
                        <i class="fa-brands fa-twitter" style="color: #1aa1f2;"></i>
                    </a>
                    <a href="https://www.instagram.com/your-profile" target="">
                        <i class="fa-brands fa-instagram" style="background: linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;"></i>
                    </a>
                    <a href=" https://www.linkedin.com/your-profile" target="">
                        <i class="fa-brands fa-linkedin" style="color: #0076b2;"></i>
                    </a>
                    <hr class="social-line">
                </div>

            </section>
        </section>
    </section>

    <section class="reviews">
        <section class="container grid grid-one-col">
            <h2 class="review-title">Reviews of Patients</h2>
            <div class="review">
                <div class="container grid grid-two-col">
                    <div class="review-img">
                        <img src="/image/user1.png" alt="User 1">
                    </div>
                    <div class="review-content">
                        <h3 class="user-name">User 1</h3>
                        <p class="review-text">Great experience. Will come again!</p>
                        <p class="rating">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star-half"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="container grid grid-two-col">
                    <div class="review-img">
                        <img src="/image/user2.png" alt="User 2">
                    </div>
                    <div class="review-content">
                        <h3 class="user-name">User 2</h3>
                        <p class="review-text">Great experience. Will come again!</p>
                        <p class="rating">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star-half"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="container grid grid-two-col">
                    <div class="review-img">
                        <img src="/image/user3.png" alt="User 3">
                    </div>
                    <div class="review-content">
                        <h3 class="user-name">User 3</h3>
                        <p class="review-text">Great experience. Will come again!</p>
                        <p class="rating">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>