.grid {
    display: grid;
    gap: 4rem;
}

.grid-one-col {
    grid-template-columns: repeat(1, 1fr);
}

.grid-two-col {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-col {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-col {
    grid-template-columns: repeat(4, 1fr);
}

.doctor-profile {
    padding: 20px;
}

/* Style the main container grid */
/* .container {
    display: grid;
    gap: 20px;
} */

.grid-two-col {
    grid-template-columns: 1fr 1fr;
}


/*  */
.doctor-profile .container {
    gap: 45px;
}

.profile {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    width: 800px;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #75797E;
    position: relative;
    right: 80px;
}

.profile-main {
    width: 200px;
}

.doctor-img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    position: relative;
    left: 50px;
}

.doctor-name {
    font-size: 24px;
    /* margin: 10px 0; */
    font-size: 22px;
    color: #1B1899;
    position: relative;
    left: 50px;
}

.speciality {
    font-size: 18px;
    /* margin: 10px 0; */
    position: relative;
    font-weight: 500;
    left: 50px;
    color: #75797E;
}

.profile-icons {
    list-style: none;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 30px;
    position: relative;
    top: 20px;
    left: 35px;
}

.doctor-details {
    font-size: 15px;
    position: relative;
    top: 20px;
    right: 40px;
    max-height: 200px;
    width: 300px;
}

.qualification,
.location,
.verified,
.languages {
    list-style: none;
}

.doctor-about {
    width: 600px;
    font-size: 16px;
    color: #75797E;
    position: relative;
    top: 30px;
}

.appointment {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    width: 350px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #75797E;
    position: relative;
    right: 50px;
}

.online,
.clinic {
    padding: 20px;
    font-size: 15px;
}

.online h2,
.clinic h2 {
    color: #004AFF;
}

.bullet {
    list-style-type: disc;
    margin-left: 10px;
    color: var(--text-black);
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.book-btn {
    background-color: #7096F3;
    color: #fff;
    margin-bottom: 15px;
    padding: 10px 20px;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #7096F3;
}

.video-btn {
    background-color: #fff;
    color: #7096F3;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #7096F3;
}

.book-btn:hover {
    background-color: #fff;
    color: #7096F3;
}

.video-btn:hover {
    background-color: #7096F3;
    color: #fff;
}

.social-icons {
    margin-top: 20px;
}

.social-icons h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.fa-brands {
    width: 30px;
    height: 30px;
    font-size: 30px;
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s;
    cursor: pointer;
}

.fa-brands:hover {
    transform: scale(1.2);
}

.social-line {
    border: none;
    height: 1px;
    background-color: #333;
    margin: 15px 0;
}

.reviews {
    display: grid;
    justify-content: space-between;
    position: relative;
    bottom: 200px;
    right: 50px;
}

.review-title {
    font-size: 35px;
    color: #1B1899;
    position: relative;
    top: 20px;
}

.review {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    width: 700px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #75797E;
}

.review-content {
    position: relative;
    right: 100px;
    font-size: 18px;
}

.review-img {
    position: relative;
    left: 50px;
}

.user-name {
    font-size: 20px;
}