.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
}
.profilePhoto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.card-body {
  width: 100%;
}
.profileDetails {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(209, 207, 207);
  margin-bottom: 2rem;
}
.profile-features {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.profile-feature:nth-child(n) {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: 0.2s all;
}
.profile-feature:nth-child(1) {
  background-image: url("https://img.freepik.com/free-vector/landing-page-template-design-business-websides_52683-22971.jpg?w=740&t=st=1691834244~exp=1691834844~hmac=eafbf318a88b67b26e8687c197c83bcd3ebbd47c8f088c5fc5ec41a951e49ec6");
}
.profile-feature:nth-child(2) {
  background-image: url("https://img.freepik.com/free-vector/online-doctor-flat-design_23-2148521415.jpg?w=740&t=st=1691835871~exp=1691836471~hmac=392e49a8edaf8a757ea42f77942a70522525409f38bf42af2dfcb3763843a81c");
}
.profile-feature:nth-child(3) {
  background-image: url("https://img.freepik.com/free-vector/appointment-booking-smartphone_23-2148559902.jpg?w=740&t=st=1693254350~exp=1693254950~hmac=49c29e469cbf68eb0115943c81ccd39e1476402eebfbca00c35226a7d74be0ae");
}
.profile-feature:nth-child(4) {
  background-image: url("https://img.freepik.com/premium-vector/online-medicine-concept_118813-4997.jpg?w=900");
}
.redirection-box {
  text-decoration: none;
  cursor: pointer;
}
.profile-features:hover .profile-feature {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
.profile-features:hover .profile-feature:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}
.menubar {
  margin: 0;
  padding: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}
.menu-option {
  cursor: pointer;
  transition: 0.2s ease-out;
}
.menu-option:hover {
  background-color: gainsboro;
}
.appointments {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}
.more-option {
  border-radius: 50%;
  transition: 0.2s ease-out;
}
.more-option:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  border-radius: 50%;
}
