* {
  margin: 0;
  padding: 0;
}
.img-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
.img {
  width: auto;
}
.icon-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  transition: 0.2s linear ease-in-out;
}
.icon {
  margin-left: 8px;
  margin-top: 2px;
}
.icon-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
