* {
  margin: 0;
  padding: 0;
}
.img-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  overflow: hidden;
}
.img {
  width: auto;
}
.icon-container {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  margin-left: 8px;
  margin-top: 2px;
}
.icon-container:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
