<% layout('layout/boilerplate') %>

<h2>Sign In</h2>
<form action="" method="post" class="container" novalidate>
  <label for="username" class="form-label">Username</label>
  <input
    type="text"
    name="username"
    id="username"
    class="form-control mb-3"
    placeholder="Username"
  />
  <label for="password" class="form-label">Password</label>
  <input
    type="password"
    name="password"
    id="password"
    class="form-control mb-3"
    placeholder="Password"
  />
  <button class="btn btn-info mb-3 w-100">Submit</button>
</form>
