<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/css/login.css" />

<div class="row g-0">
  <div class="col-10 bg-info offset-1 d-flex mt-4">
    <div class="img-container w-50">
      <img class="img-fluid w-80" src="/image/login.jpg" alt="image" />
    </div>
    <form
      action="/register"
      method="post"
      class="ms-auto w-50 bg-light p-5 validate-form"
      novalidate
      enctype="multipart/form-data"
    >
      <h3 class="mb-3">Sign Up</h3>
      <div class="form-input w-100">
        <label for="fullName" class="form-label">Name</label>
        <input
          type="text"
          name="fullName"
          id="fullName"
          class="form-control mb-3"
          placeholder="Name"
          required
        />
        <div class="invalid-feedback mb-3">Name is required!</div>
      </div>
      <div class="form-input w-100">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          class="form-control mb-3"
          placeholder="Username"
          required
        />
        <div class="invalid-feedback mb-3">Username is required!</div>
      </div>
      <div class="form-input w-100">
        <label for="selectType" class="form-label">I'm a</label>
        <select
          id="selectType"
          class="form-select mb-3"
          style="cursor: pointer"
          name="entryType"
          required
        >
          <option value="patient" selected>Patient</option>
          <option value="doctor">Doctor</option>
        </select>
        <div class="invalid-feedback mb-3">Please choose your entry type!</div>
      </div>
      <div class="form-input w-100">
        <label for="image" class="form-label">Image</label>
        <div class="input-group mb-3 w-100">
          <input type="file" class="form-control" id="image2" name="image" />
          <label class="input-group-text" for="image">Upload</label>
        </div>
      </div>

      <div class="form-input w-100">
        <label for="emailId" class="form-label">Email</label>
        <input
          type="email"
          name="emailId"
          id="emailId"
          class="form-control mb-3"
          placeholder="name@example.com"
          required
        />
        <div class="invalid-feedback mb-3">Email is required!</div>
      </div>
      <div class="form-input w-100">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control mb-3"
          placeholder="Password"
          autocomplete="off"
          required
        />
        <div class="invalid-feedback mb-3">Password is required!</div>
      </div>
      <div class="options mb-3">
        <div class="remember-me">
          <input
            id="remember"
            type="checkbox"
            class="me-2 form-check-input"
            style="cursor: pointer"
          /><label for="remember"><small>Rember me for 30 days</small></label>
        </div>
        <small class="text-danger" style="cursor: pointer"
          >Forgot password?</small
        >
      </div>
      <button class="btn btn-info mb-3 text-light w-100">Sign Up</button>
      <div class="sign-in">
        <p class="mt-3">
          Already have an account?
          <a href="/login" class="text-primary" style="text-decoration: none"
            >Sign in</a
          >
        </p>
      </div>
    </form>
  </div>
</div>
<script src="/js/formValidation.js"></script>
