<% layout('layout/boilerplate') %>

<h2>Sign Up</h2>
<form action="" method="post" class="container" novalidate>
  <label for="fullName" class="form-label">Name</label>
  <input
    type="text"
    name="fullName"
    id="fullName"
    class="form-control mb-3"
    placeholder="Name"
  />
  <label for="username" class="form-label">Username</label>
  <input
    type="text"
    name="username"
    id="username"
    class="form-control mb-3"
    placeholder="Username"
  />
  <label for="emailId" class="form-label">Email</label>
  <input
    type="email"
    name="emailId"
    id="emailId"
    class="form-control mb-3"
    placeholder="name@example.com"
  />
  <label for="password" class="form-label">Password</label>
  <input
    type="password"
    name="password"
    id="password"
    class="form-control mb-3"
    placeholder="Password"
  />
  <label for="image" class="form-label">Image</label>
  <input
    type="text"
    name="image"
    id="image"
    class="form-control mb-3"
    placeholder="Image"
  />
  <button class="btn btn-info mb-3 w-100">Submit</button>
</form>
