<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/css/generalMenu.css" />
<div class="row">
  <div class="general-menu col-2 card p-3">
    <div class="card-body">
      <div class="card-text text-secondary mb-4">General Menu</div>
      <div class="card-text mb-4">
        <ion-icon name="document-outline" class="icon"></ion-icon
        ><span class="fw-medium">My Files</span>
      </div>
      <div class="card-text mb-4">
        <ion-icon name="share-social-outline" class="icon"></ion-icon
        ><span class="fw-medium">Shared Files</span>
      </div>
      <div class="card-text mb-4">
        <ion-icon name="star-outline" class="icon"></ion-icon
        ><span class="fw-medium">Favorites</span>
      </div>
      <div class="card-text mb-4">
        <ion-icon name="trash-outline" class="icon"></ion-icon
        ><span class="fw-medium">Recycle Bin</span>
      </div>
      <div class="card-text mb-4">
        <ion-icon name="settings-outline" class="icon"></ion-icon
        ><span class="fw-medium">Settings</span>
      </div>
    </div>
  </div>
  <div class="col-10">
    <div class="container"></div>
    <div class="container"></div>
    <div class="container"></div>
  </div>
</div>
