<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/css/icon.css" />
<link rel="stylesheet" href="/css/uploadPage.css" />

<div class="row">
  <div class="general-menu col-2 me-5">
    <div class="options mt-5">
      <a href="#show-files" class="card-text links text-dark">
        <ion-icon name="document-outline" class="icon"></ion-icon
        ><span class="fw-medium">My Files</span></a
      >

      <div
        class="card-text"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        <ion-icon name="share-social-outline" class="icon"></ion-icon
        ><span class="fw-medium">Share</span>
      </div>
      <div
        class="card-text"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#showSharedImgs"
      >
        <ion-icon name="documents-outline" class="icon"></ion-icon
        ><span class="fw-medium">Shared Files</span>
      </div>
      <div
        class="card-text"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#sharedList"
      >
        <ion-icon name="list-outline" class="icon"></ion-icon
        ><span class="fw-medium">Shared List</span>
      </div>
      <div
        class="card-text"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#removed-access"
      >
        <ion-icon name="trash-outline" class="icon"></ion-icon
        ><span class="fw-medium">Recycle Bin</span>
      </div>
    </div>
  </div>

  <div class="col-9">
    <div class="account-details mt-3 mb-4">
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        Account ID:
        <strong class="account_no user-select-all"></strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    </div>
    <div class="ms-4">
      <div class="upload-files">
        <h4 class="mb-4">Upload File</h4>
        <div class="upload-container mb-4">
          <form class="upload-form" enctype="multipart/form-data">
            <label for="images" class="drop-container" id="dropcontainer">
              <span class="drop-title">Drop your files here</span>
              <small class="text-secondary" style="font-size: smaller"
                >Support pdf, jpeg, jpg, png files</small
              >
              or
              <input
                type="file"
                id="images"
                name="image"
                class="mb-3 file-input uploadFile"
                accept="image/*,application/pdf"
                required
              />
            </label>
            <button class="btn btn-primary w-100 mt-3 upload-btn" type="submit">
              <span class="upload-text">Upload</span>
              <div
                class="spinner-border spinner-border-sm text-light spinner"
                role="status"
              >
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="ms-4" id="show-files">
      <h4 class="mb-4">Your Files</h4>
      <div class="recently-added mb-4 w-100"></div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="offset-5">Share</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <section class="d-flex flex-row align-items-center">
          <span class="me-3">To:</span
          ><input
            type="text"
            class="form-control share-address"
            placeholder="Account ID..."
          />
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary w-100 share-btn">
          <span class="share-text">Share</span>
          <div
            class="spinner-border spinner-border-sm text-light sharing-spinner"
            role="status"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="showSharedImgs"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content p-4">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <label for="showPatientData" class="mb-3">Account Id</label>
        <input
          type="text"
          class="form-control mb-3 patientAccId"
          id="showPatientData"
        />
        <button class="btn btn-primary w-100 showPatientData-btn mb-4">
          Show
        </button>

        <div
          class="patientData d-flex justify-content-center flex-column"
        ></div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade shadow"
  id="sharedList"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="offset-5">Shared List</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body pb-4">
        <ul class="sharedTo list-group list-group-flush w-100"></ul>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade shadow"
  id="removed-access"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="offset-5">Recycle Bin</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body pb-4">
        <ul class="removed-access-list list-group list-group-flush w-100"></ul>
      </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/uploadPage.js" type="module"></script>
