<% layout('layout/boilerplate') %>
<div class="alert alert-danger col-6 offset-3" role="alert">
  <h4 class="alert-heading"><%= err.status %> <%= err.type %></h4>
  <hr />
  <p><%= err.message %></p>
  <p class="mb-0"><%= %></p>
</div>
