<%- layout('layout/boilerplate') %>

    <link rel="stylesheet" href="/css/videoconsult.css">
    <div class="dashboard-container">
        <h1 class="welcome-h1">Welcome to the Video Chat Dashboard</h1>
        <form id="nameForm" action="/:room" method="GET">
            <label for="username">Enter your name:</label>
            <input type="text" id="username" name="username" required> 
            <button type="submit">Start Video Chat</button>
            <label for="link">Enter the link to join:</label>
            <input type="text" id="link" name="link">
            <button type="button" id="joinButton">Join</button>
        </form>
    </div>
    <script src="js/videoconsult.js"></script>